@import url('https://fonts.googleapis.com/css?family=PT+Sans');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css');
/* --------------------------------------------------------------------------
Base styles:
----------------------------------------------------------------------------- */
/* Fix to include padding and border in the total width for each element */
* {
  box-sizing: border-box;
}

/* Fix for responsive images */
img {
	max-width: 100%;
  max-resolution: 100%;
}

/* ----------------------------------------
Typography
------------------------------------------- */
body {
	font-family: "PT+Sans", sans-serif;
	font-weight: 600;
	text-align: center;
	color: #102127;
	width: 70%;
	margin: 0 auto;
}

p {
	font-family: "PT+Sans", sans-serif;
	font-weight: 400;
	line-height: 130%;
	text-align: left;
	margin-bottom:20px;
	text-align: center;
  color: #102127
}

a {
  font-family: "PT+Sans", sans-serif;
	font-weight: 600;
	font-size: 13px;
	text-decoration: none;
	text-transform: uppercase;
	color: #102127;
}

/* ----------------------------------------
Lists
------------------------------------------- */
}

nav header {
color: #102127;
  text-align: center;
	text-transform: uppercase;
}

/* ----------------------------------------
Layout
------------------------------------------- */
.grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 25px;
}

#about {
	background: #fcc931;
	padding-top: 10px;
	padding-bottom: 60px;
	padding-right: 60px;
	padding-left: 60px;
	}

section {
	padding-top: -20px;
	padding-bottom: 40px;
	}
/* ----------------------------------------
Header
------------------------------------------- */

nav a {
	text-align: center;
	font-family: 'PT+Sans', sans-serif;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 16px;
	color: #102127;
	text-transform: uppercase;
	margin-left: 40px;
	margin-right: 40px;
	text-decoration: none;
	font-weight: 600;
}

body {
	color: #102127;
	font-family: 'PT+Sans', sans-serif;
	margin: 0 auto;
	text-align: center;
	padding: 80px;
	line-height: 21px;
}

header {
	font-weight: 600;
	padding: 110px;
	background-image: url('../img/Sunflower.jpg');
	img max-width: 100%;
  img max-height: 100%;
	background-size: cover;
	text-align: center;
	background-position: center;
	margin-left: -100px;
	margin-right: -100px;
	margin-top: none;
	margin-bottom: 40px;
	letter-spacing: 15px;
	text-transform: uppercase;
	color: #ffffff
}

h1 {
  font-size: 37px;
	text-align:center;
  text-decoration: none;
  color: white;
	text-transform: uppercase;
}

header h2 {
  font-size: 23px;
	font-weight: lighter;
	text-align:center;
	letter-spacing: 1px;
	text-decoration: none;
  color: white;
	text-transform: uppercase;
	padding-top: 0px;
	}

h2 {
	font-family: "PT+Sans", sans-serif;
	font-weight: 600;
	font-size: 23px;
	text-transform: uppercase;
	padding-top: 30px;
	padding-bottom: 5px;
}

h3 {
	font-family: "PT+Sans", sans-serif;
	font-weight: 600;
	font-size: 18px;
  color: #102127
	text-transform: uppercase;
}

.KirawithSunflowers {
	padding-top: 40px;
	padding-bottom: -20px;
	img max-width: 150px;
  	img max-height: 150px;
	border-color: #102127;
  	border: 3px solid #102127;
}
/* ----------------------------------------
Buttons
------------------------------------------- */
.readmore {
  border: 3px solid #102127;
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 2.5px;
	padding-bottom: 2.5px;
  background-color: #FBBE09;
  color: #102127;
  }

/* ----------------------------------------
Footer
------------------------------------------- */
footer {
    text-align: center;
    background: #fcc931;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: -20px;
    margin-left: -20px;
}

.fa {
padding: 20px;
padding-bottom: -40px;
color: #102127
}

.email {
	margin-right: 30px;
	font-size: 12px;
  	color: #102127;
	font-weight: 700;
	border-color: #102127;
  	border: 3px solid #102127;
	text-align: center;
	font-family: "PT+Sans", sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	padding-top: 5px;
	padding-bottom: 5px;
}

hr {
    color: #102127;
		border-style: solid;
}

@media screen and (max-width: 600px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
